{
  "name": "boilerplate-node",
  "version": "1.0.0",
  "description": "A Backend Node.js Boilerplate for Lean Tech Projects",
  "main": "index.js",
  "directories": {
    "lib": "lib",
    "test": "test"
  },
  "scripts": {
    "dev": "DEBUG=app:* nodemon index",
    "start": "NODE_ENV=production node index",
    "test": "mocha --exit",
    "cover": "nyc npm run test",
    "report": "nyc report --reporter=html && open coverage/index.html"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/scardona80/backend-nodejs-boilerplate.git"
  },
  "author": "Lean Tech IO",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/scardona80/backend-nodejs-boilerplate/issues"
  },
  "homepage": "https://github.com/scardona80/backend-nodejs-boilerplate#readme",
  "devDependencies": {
    "chalk": "^2.4.2",
    "eslint": "^6.5.1",
    "eslint-config-prettier": "^6.4.0",
    "eslint-plugin-prettier": "^3.1.1",
    "husky": "^3.0.9",
    "lint-staged": "^9.4.2",
    "mocha": "^6.2.1",
    "nodemon": "^1.19.3",
    "nyc": "^14.1.1",
    "prettier": "^1.18.2",
    "proxyquire": "^2.1.3",
    "sinon": "^7.5.0",
    "supertest": "^4.0.2"
  },
  "husky": {
    "hooks": {
      "pre-commit": "lint-staged"
    }
  },
  "lint-staged": {
    "*.js": [
      "eslint --fix",
      "git add"
    ]
  },
  "nyc": {
    "all": true,
    "include": [
      "routes",
      "services",
      "lib",
      "utils"
    ]
  }
}
